@font-face {
    font-family: nova;
    src: url("font/zh-cn.ttf");
}

* {
    font-family: nova;
    text-decoration: none;
}

/* Link não visitado */
a:link {
    color: yellow;
  }

/* Link visitado */
a:visited {
    color: orange;
  }

body {
    background-image: linear-gradient(140deg, blue 0%, purple 50%);
}
