@font-face {
    font-family: nova;
    src: url("../../font/zh-cn.ttf");
}

* {
    text-decoration: none;
}

body {
    background-image: linear-gradient(0deg, blue 0%, purple 80%);
    height: 100%;
}

h1 {
    font-family: nova;
    font-size: 40px;
    /* Dar borda ao título */
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
}

div.esquerdo {
    display: inline;
}

div.direito {
    display: inline;
}

p {
    font-family: nova;
    font-size: 18px;
}

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p.arredondado {
    border-style: solid;
    border-radius: 30px;
}

p.colorido {
    border-style: solid;
    border-color: purple;
}
